<div class="date-picker-container">
  <label for="{{ identifier }}">{{ label }}</label>
  <dso-date-picker
    identifier="{{ identifier }}"
    value="{{ getDateFormatted(value) }}"
    max="{{ getDateFormatted(max) }}"
    min="{{ getDateFormatted(min) }}"
    direction="left"
    (dsoDateChange)="setDetail($event)"
    (dsoBlur)="handleInput()"
  ></dso-date-picker>
</div>

<div class="form-group" [ngClass]="{ 'dso-invalid': showError || showRequiredError }">
  <p *ngIf="showError" class="dso-message" id="{{ identifier }}_error" [attr.data-test-id]="identifier + '_error'">
    {{ errorMessage }}
  </p>
  <p
    *ngIf="showRequiredError"
    class="dso-message"
    id="{{ identifier }}_required_error"
    [attr.data-test-id]="identifier + '_required_error'"
  >
    Dit is een verplicht veld.
  </p>
</div>
