.symboolcode[data-symboolcode='vsgt200'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(80, 80, 80, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt201'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(100, 100, 100, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt202'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(120, 120, 120, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt203'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(140, 140, 140, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt204'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 160, 160, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt205'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(180, 180, 180, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt206'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(200, 200, 200, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt207'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(220, 220, 220, 0.3);
  border-width: 0.5px;
  border-color: rgba(80, 80, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt300'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt301'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(30, 30, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt302'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(60, 60, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt303'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(90, 90, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt304'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(120, 120, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt305'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(150, 150, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt306'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(180, 180, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt307'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(210, 210, 255, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt400'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 80, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt401'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 115, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt402'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 150, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt403'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 185, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt404'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 220, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt405'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt406'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(75, 255, 75, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt407'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(150, 255, 150, 0.3);
  border-width: 0.5px;
  border-color: rgba(0, 80, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt500'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(150, 0, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt501'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(185, 0, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt502'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(220, 0, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt503'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 0, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt504'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 80, 80, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt505'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 120, 120, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt506'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 160, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt507'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 200, 200, 0.3);
  border-width: 0.5px;
  border-color: rgba(150, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt600'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(225, 195, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt601'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(235, 215, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt602'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(245, 235, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt603'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 0, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt604'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 80, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt605'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 120, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt606'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 160, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='vsgt607'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 200, 0.3);
  border-width: 0.5px;
  border-color: rgba(225, 195, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0100'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0101'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0102'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0103'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0104'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0105'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0106'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 0, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0107'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 32, 32, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0108'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 64, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0109'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 96, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0110'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 128, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0111'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0112'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0200'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 64, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0201'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 96, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0202'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 128, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0203'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 160, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0204'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 192, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0205'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 224, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0206'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0207'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 255, 32, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0208'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 255, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0209'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 255, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0210'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 255, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0211'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0212'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0300'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0301'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0302'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0303'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0304'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0305'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 224, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0306'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0307'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 32, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0308'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 64, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0309'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 96, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0310'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 128, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0311'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 160, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0312'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 192, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0400'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 64, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0401'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 96, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0402'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 128, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0403'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 160, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0404'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 192, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0405'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 224, 224, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0406'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0407'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0408'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0409'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0410'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0411'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0412'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(0, 128, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0500'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 0, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0501'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 0, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0502'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 0, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0503'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 0, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0504'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 0, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0505'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 0, 224, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0506'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 0, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0507'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 32, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0508'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 64, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0509'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 96, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0510'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 128, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0511'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0512'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 255, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 0, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0600'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 64, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0601'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 96, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0602'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 128, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0603'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 160, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0604'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 192, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0605'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 224, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0606'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 0, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0607'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 32, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0608'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 64, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0609'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 96, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0610'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 128, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0611'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 160, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0612'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 192, 0.4);
  border-width: 0.6px;
  border-color: rgba(128, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0700'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 0, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0701'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 32, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 32, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0702'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 64, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 64, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0703'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 96, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 96, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0704'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 128, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 128, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0705'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 160, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0706'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 192, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0707'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 224, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 224, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0708'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0709'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(224, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0710'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0711'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0712'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0713'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0714'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0715'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0716'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0717'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0718'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0719'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0720'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0721'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0722'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0723'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0724'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0725'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 224, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 224, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0726'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 192, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 192, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0727'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 160, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 160, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0728'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 128, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 128, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0729'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 96, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 96, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0730'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 64, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 64, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0731'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 32, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 32, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0732'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 0, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0800'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 16, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 16, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0801'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 32, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 32, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0802'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 48, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 48, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0803'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 64, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 64, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0804'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 80, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 80, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0805'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 96, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 96, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0806'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 112, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 112, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0807'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 128, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 128, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0808'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 144, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 144, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0809'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 160, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0810'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 176, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 176, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0811'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 192, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0900'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 255, 16, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 255, 16, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0901'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 255, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 255, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0902'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 255, 48, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 255, 48, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0903'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 255, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 255, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0904'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 255, 80, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 255, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0905'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 255, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0906'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 112, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 255, 112, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0907'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 255, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(224, 255, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0908'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 144, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 144, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0909'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0910'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 176, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 176, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg0911'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1000'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 16, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 16, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1001'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 32, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 32, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1002'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 48, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 48, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1003'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 64, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 64, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1004'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 80, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 80, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1005'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 96, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 96, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1006'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 112, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 112, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1007'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 128, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(224, 128, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1008'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 144, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 144, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1009'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 160, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1010'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 176, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 176, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1011'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 192, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1100'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 0, 16, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 0, 16, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1101'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 32, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 32, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1102'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 64, 48, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 64, 48, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1103'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 96, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 96, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1104'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 128, 80, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 128, 80, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1105'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 160, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1106'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 192, 112, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 192, 112, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1107'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 224, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 224, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1108'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 144, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 144, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1109'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1110'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 176, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 176, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1111'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 255, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 255, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1200'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(16, 255, 0, 0.4);
  border-width: 0.8px;
  border-color: rgba(16, 255, 0, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1201'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 255, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 255, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1202'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(48, 255, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(48, 255, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1203'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 255, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 255, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1204'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(80, 255, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(80, 255, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1205'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 255, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 255, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1206'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(112, 255, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(112, 255, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1207'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 255, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 255, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1208'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(144, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(144, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1209'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1210'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(176, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(176, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1211'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1300'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(16, 0, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(16, 0, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1301'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 32, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 32, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1302'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(48, 64, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(48, 64, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1303'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 96, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 96, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1304'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(80, 128, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(80, 128, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1305'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 160, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 160, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1306'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(112, 192, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(112, 192, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1307'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 224, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 224, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1308'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(144, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(144, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1309'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1310'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(176, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(176, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1311'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 255, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 255, 255, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1400'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 0, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 0, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1401'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 16, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 16, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1402'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 32, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 32, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1403'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(192, 64, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(192, 64, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1404'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(224, 96, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(224, 96, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1405'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(240, 128, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(240, 128, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1406'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(255, 160, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(255, 160, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1500'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 96, 32, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 96, 32, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1501'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(16, 128, 64, 0.4);
  border-width: 0.8px;
  border-color: rgba(16, 128, 64, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1502'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 160, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 160, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1503'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 192, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 192, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1504'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 224, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 224, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1505'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 240, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 240, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1506'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 255, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 255, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1600'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(0, 32, 96, 0.4);
  border-width: 0.8px;
  border-color: rgba(0, 32, 96, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1601'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(16, 64, 128, 0.4);
  border-width: 0.8px;
  border-color: rgba(16, 64, 128, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1602'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(32, 96, 160, 0.4);
  border-width: 0.8px;
  border-color: rgba(32, 96, 160, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1603'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(64, 128, 192, 0.4);
  border-width: 0.8px;
  border-color: rgba(64, 128, 192, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1604'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(96, 160, 224, 0.4);
  border-width: 0.8px;
  border-color: rgba(96, 160, 224, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1605'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(128, 192, 240, 0.4);
  border-width: 0.8px;
  border-color: rgba(128, 192, 240, 1);
  border-style: solid;
}
.symboolcode[data-symboolcode='nsg1606'] {
  content: '\00A0';
  line-height: 30px;
  background-color: rgba(160, 224, 255, 0.4);
  border-width: 0.8px;
  border-color: rgba(160, 224, 255, 1);
  border-style: solid;
}
