// polygonen zonder image vulling
.symboolcode[data-symboolcode='ES001'] {
  background-color: rgba(255, 153, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES002'] {
  background-color: rgba(255, 204, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES003'] {
  background-color: rgba(204, 153, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES004'] {
  background-color: rgba(255, 153, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES005'] {
  background-color: rgba(255, 204, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES006'] {
  background-color: rgba(255, 255, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES007'] {
  background-color: rgba(255, 255, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES008'] {
  background-color: rgba(204, 204, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES009'] {
  background-color: rgba(204, 255, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES010'] {
  background-color: rgba(153, 255, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES011'] {
  background-color: rgba(153, 255, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES012'] {
  background-color: rgba(204, 255, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES013'] {
  background-color: rgba(153, 204, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES014'] {
  background-color: rgba(102, 255, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES015'] {
  background-color: rgba(102, 255, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES016'] {
  background-color: rgba(153, 255, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES017'] {
  background-color: rgba(204, 255, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES018'] {
  background-color: rgba(153, 204, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES019'] {
  background-color: rgba(102, 204, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES020'] {
  background-color: rgba(102, 153, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES021'] {
  background-color: rgba(153, 153, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES022'] {
  background-color: rgba(204, 204, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES023'] {
  background-color: rgba(153, 153, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES024'] {
  background-color: rgba(153, 102, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES025'] {
  background-color: rgba(204, 102, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES026'] {
  background-color: rgba(255, 153, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES027'] {
  background-color: rgba(255, 204, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES028'] {
  background-color: rgba(204, 153, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES029'] {
  background-color: rgba(255, 102, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES030'] {
  background-color: rgba(255, 102, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES031'] {
  background-color: rgba(204, 204, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES032'] {
  background-color: rgba(153, 153, 153, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES033'] {
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES034'] {
  background-color: rgba(255, 102, 51, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES035'] {
  background-color: rgba(255, 204, 51, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES036'] {
  background-color: rgba(204, 255, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES037'] {
  background-color: rgba(102, 255, 51, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES038'] {
  background-color: rgba(51, 255, 102, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES039'] {
  background-color: rgba(51, 255, 204, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES040'] {
  background-color: rgba(51, 204, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES041'] {
  background-color: rgba(51, 102, 255, 0.5);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES101'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES102'] {
  background-color: rgba(102, 102, 102, 0);
  border-width: 1px;
  border-color: rgba(153, 0, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES103'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(51, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES104'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(153, 51, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES105'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(153, 102, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES106'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(255, 255, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES107'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(153, 153, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES108'] {
  background-color: rgba(102, 102, 102, 0);
  border-width: 3px;
  border-color: rgba(51, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES109'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES110'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(51, 153, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES111'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 255, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES112'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES113'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 5px;
  border-color: rgba(0, 51, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES114'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 153, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES115'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 153, 102, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES116'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 4px;
  border-color: rgba(0, 255, 255, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES117'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 153, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES118'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 51, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES119'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 102, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES120'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 51, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES121'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES122'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 0, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES123'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 4px;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES124'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(51, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES125'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(102, 0, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES126'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(255, 0, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES127'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(153, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES128'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(51, 0, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES129'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(153, 0, 102, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES130'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(153, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES131'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(102, 102, 102, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES132'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES133'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES134'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(204, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES135'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(204, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES136'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES137'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(51, 204, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES138'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 204, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES139'] {
  background-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-color: rgba(0, 204, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES140'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 153, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES141'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 51, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES201'] {
  background-color: rgba(255, 153, 153, 0.5);
  border-width: 1px;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES202'] {
  background-color: rgba(255, 204, 204, 0.5);
  border-width: 4px;
  border-color: rgba(153, 0, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES203'] {
  background-color: rgba(204, 153, 153, 0.5);
  border-width: 3px;
  border-color: rgba(51, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES204'] {
  background-color: rgba(255, 153, 102, 0.5);
  border-width: 1px;
  border-color: rgba(153, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES205'] {
  background-color: rgba(255, 204, 102, 0.5);
  border-width: 1px;
  border-color: rgba(153, 102, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES206'] {
  background-color: rgba(255, 255, 153, 0.5);
  border-width: 3px;
  border-color: rgba(255, 255, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES207'] {
  background-color: rgba(255, 255, 204, 0.5);
  border-width: 1px;
  border-color: rgba(153, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES208'] {
  background-color: rgba(204, 204, 153, 0.5);
  border-width: 3px;
  border-color: rgba(51, 51, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES209'] {
  background-color: rgba(204, 255, 102, 0.5);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES210'] {
  background-color: rgba(153, 255, 102, 0.5);
  border-width: 3px;
  border-color: rgba(51, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES211'] {
  background-color: rgba(153, 255, 153, 0.5);
  border-width: 1px;
  border-color: rgba(0, 255, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES212'] {
  background-color: rgba(204, 255, 204, 0.5);
  border-width: 3px;
  border-color: rgba(0, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES213'] {
  background-color: rgba(153, 204, 153, 0.5);
  border-width: 3px;
  border-color: rgba(0, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES214'] {
  background-color: rgba(102, 255, 153, 0.5);
  border-width: 1px;
  border-color: rgba(0, 153, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES215'] {
  background-color: rgba(102, 255, 204, 0.5);
  border-width: 3px;
  border-color: rgba(0, 153, 102, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES216'] {
  background-color: rgba(153, 255, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 255, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES217'] {
  background-color: rgba(204, 255, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 153, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES218'] {
  background-color: rgba(153, 204, 204, 0.5);
  border-width: 3px;
  border-color: rgba(0, 51, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES219'] {
  background-color: rgba(102, 204, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 102, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES220'] {
  background-color: rgba(102, 153, 255, 0.5);
  border-width: 3px;
  border-color: rgba(0, 51, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES221'] {
  background-color: rgba(153, 153, 255, 0.5);
  border-width: 3px;
  border-color: rgba(0, 0, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES222'] {
  background-color: rgba(204, 204, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES223'] {
  background-color: rgba(153, 153, 204, 0.5);
  border-width: 3px;
  border-color: rgba(0, 0, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES224'] {
  background-color: rgba(153, 102, 255, 0.5);
  border-width: 1px;
  border-color: rgba(51, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES225'] {
  background-color: rgba(204, 102, 255, 0.5);
  border-width: 3px;
  border-color: rgba(102, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES226'] {
  background-color: rgba(255, 153, 255, 0.5);
  border-width: 1px;
  border-color: rgba(255, 0, 255, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES227'] {
  background-color: rgba(255, 204, 255, 0.5);
  border-width: 1px;
  border-color: rgba(153, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES228'] {
  background-color: rgba(204, 153, 204, 0.5);
  border-width: 4px;
  border-color: rgba(51, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES229'] {
  background-color: rgba(255, 102, 204, 0.5);
  border-width: 1px;
  border-color: rgba(153, 0, 102, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES230'] {
  background-color: rgba(255, 102, 153, 0.5);
  border-width: 3px;
  border-color: rgba(153, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES231'] {
  background-color: rgba(204, 204, 204, 0.5);
  border-width: 3px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES232'] {
  background-color: rgba(153, 153, 153, 0.5);
  border-width: 1px;
  border-color: rgba(51, 51, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='ES233'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES234'] {
  background-color: rgba(255, 102, 51, 0.5);
  border-width: 1px;
  border-color: rgba(204, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES235'] {
  background-color: rgba(255, 204, 51, 0.5);
  border-width: 1px;
  border-color: rgba(204, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES236'] {
  background-color: rgba(204, 255, 102, 0.5);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES237'] {
  background-color: rgba(102, 255, 51, 0.5);
  border-width: 1px;
  border-color: rgba(51, 204, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES238'] {
  background-color: rgba(51, 255, 102, 0.5);
  border-width: 1px;
  border-color: rgba(0, 204, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES239'] {
  background-color: rgba(51, 255, 204, 0.5);
  border-width: 1px;
  border-color: rgba(0, 204, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES240'] {
  background-color: rgba(51, 204, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 153, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES241'] {
  background-color: rgba(51, 102, 255, 0.5);
  border-width: 1px;
  border-color: rgba(0, 51, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='ES333'] {
  background-color: rgba(128, 128, 128, 0);
  border-width: 3px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S001'] {
  background-color: rgba(255, 153, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S002'] {
  background-color: rgba(255, 204, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S003'] {
  background-color: rgba(204, 153, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S004'] {
  background-color: rgba(255, 153, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S005'] {
  background-color: rgba(255, 204, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S006'] {
  background-color: rgba(255, 255, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S007'] {
  background-color: rgba(255, 255, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S008'] {
  background-color: rgba(204, 204, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S009'] {
  background-color: rgba(204, 255, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S010'] {
  background-color: rgba(153, 255, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S011'] {
  background-color: rgba(153, 255, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S012'] {
  background-color: rgba(204, 255, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S013'] {
  background-color: rgba(153, 204, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S014'] {
  background-color: rgba(102, 255, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S015'] {
  background-color: rgba(102, 255, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S016'] {
  background-color: rgba(153, 255, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S017'] {
  background-color: rgba(204, 255, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S018'] {
  background-color: rgba(153, 204, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S019'] {
  background-color: rgba(102, 204, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S020'] {
  background-color: rgba(102, 153, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S021'] {
  background-color: rgba(153, 153, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S022'] {
  background-color: rgba(204, 204, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S023'] {
  background-color: rgba(153, 153, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S024'] {
  background-color: rgba(153, 102, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S025'] {
  background-color: rgba(204, 102, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S026'] {
  background-color: rgba(255, 153, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S027'] {
  background-color: rgba(255, 204, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S028'] {
  background-color: rgba(204, 153, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S029'] {
  background-color: rgba(255, 102, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S030'] {
  background-color: rgba(255, 102, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S031'] {
  background-color: rgba(204, 204, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S032'] {
  background-color: rgba(153, 153, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S033'] {
  background-color: rgba(0, 0, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S034'] {
  background-color: rgba(255, 102, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S035'] {
  background-color: rgba(255, 204, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S036'] {
  background-color: rgba(204, 255, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S037'] {
  background-color: rgba(102, 255, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S038'] {
  background-color: rgba(51, 255, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S039'] {
  background-color: rgba(51, 255, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S040'] {
  background-color: rgba(51, 204, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S041'] {
  background-color: rgba(51, 102, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S101'] {
  background-color: rgba(255, 153, 153, 1);
  border-width: 1px;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S102'] {
  background-color: rgba(255, 204, 204, 1);
  border-width: 3px;
  border-color: rgba(153, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S103'] {
  background-color: rgba(204, 153, 153, 1);
  border-width: 3px;
  border-color: rgba(51, 0, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S104'] {
  background-color: rgba(255, 153, 102, 1);
  border-width: 1px;
  border-color: rgba(153, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S105'] {
  background-color: rgba(255, 204, 102, 1);
  border-width: 3px;
  border-color: rgba(153, 102, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S106'] {
  background-color: rgba(255, 255, 153, 1);
  border-width: 3px;
  border-color: rgba(255, 255, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S107'] {
  background-color: rgba(255, 255, 204, 1);
  border-width: 1px;
  border-color: rgba(153, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S108'] {
  background-color: rgba(204, 204, 153, 1);
  border-width: 3px;
  border-color: rgba(51, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S109'] {
  background-color: rgba(204, 255, 102, 1);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S110'] {
  background-color: rgba(153, 255, 102, 1);
  border-width: 3px;
  border-color: rgba(51, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S111'] {
  background-color: rgba(153, 255, 153, 1);
  border-width: 1px;
  border-color: rgba(0, 255, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S112'] {
  background-color: rgba(204, 255, 204, 1);
  border-width: 3px;
  border-color: rgba(0, 153, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S113'] {
  background-color: rgba(153, 204, 153, 1);
  border-width: 3px;
  border-color: rgba(0, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S114'] {
  background-color: rgba(102, 255, 153, 1);
  border-width: 1px;
  border-color: rgba(0, 153, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S115'] {
  background-color: rgba(102, 255, 204, 1);
  border-width: 3px;
  border-color: rgba(0, 153, 102, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S116'] {
  background-color: rgba(153, 255, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 255, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S117'] {
  background-color: rgba(204, 255, 255, 1);
  border-width: 3px;
  border-color: rgba(0, 153, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S118'] {
  background-color: rgba(153, 204, 204, 1);
  border-width: 3px;
  border-color: rgba(0, 51, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S119'] {
  background-color: rgba(102, 204, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 102, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S120'] {
  background-color: rgba(102, 153, 255, 1);
  border-width: 3px;
  border-color: rgba(0, 51, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S121'] {
  background-color: rgba(153, 153, 255, 1);
  border-width: 3px;
  border-color: rgba(0, 0, 255, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S122'] {
  background-color: rgba(204, 204, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S123'] {
  background-color: rgba(153, 153, 204, 1);
  border-width: 3px;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S124'] {
  background-color: rgba(153, 102, 255, 1);
  border-width: 1px;
  border-color: rgba(51, 0, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S125'] {
  background-color: rgba(204, 102, 255, 1);
  border-width: 3px;
  border-color: rgba(102, 0, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S126'] {
  background-color: rgba(255, 153, 255, 1);
  border-width: 1px;
  border-color: rgba(255, 0, 255, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S127'] {
  background-color: rgba(255, 204, 255, 1);
  border-width: 1px;
  border-color: rgba(153, 0, 153, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S128'] {
  background-color: rgba(204, 153, 204, 1);
  border-width: 3px;
  border-color: rgba(51, 0, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S129'] {
  background-color: rgba(255, 102, 204, 1);
  border-width: 3px;
  border-color: rgba(153, 0, 102, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S130'] {
  background-color: rgba(255, 102, 153, 1);
  border-width: 3px;
  border-color: rgba(153, 0, 51, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S131'] {
  background-color: rgba(204, 204, 204, 1);
  border-width: 3px;
  border-color: rgba(102, 102, 102, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S132'] {
  background-color: rgba(153, 153, 153, 1);
  border-width: 1px;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S133'] {
  background-color: rgba(255, 255, 238, 1);
  border-width: 3px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S134'] {
  background-color: rgba(255, 102, 51, 1);
  border-width: 1px;
  border-color: rgba(204, 51, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S135'] {
  background-color: rgba(255, 204, 51, 1);
  border-width: 1px;
  border-color: rgba(204, 153, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S136'] {
  background-color: rgba(204, 255, 102, 1);
  border-width: 1px;
  border-color: rgba(102, 153, 0, 1);
  border-style: dashed;
}

.symboolcode[data-symboolcode='S137'] {
  background-color: rgba(102, 255, 51, 1);
  border-width: 1px;
  border-color: rgba(51, 204, 0, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S138'] {
  background-color: rgba(51, 255, 102, 1);
  border-width: 1px;
  border-color: rgba(0, 204, 51, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S139'] {
  background-color: rgba(51, 255, 204, 1);
  border-width: 1px;
  border-color: rgba(0, 204, 153, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S140'] {
  background-color: rgba(51, 204, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 153, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S141'] {
  background-color: rgba(51, 102, 255, 1);
  border-width: 1px;
  border-color: rgba(0, 51, 204, 1);
  border-style: solid;
}

.symboolcode[data-symboolcode='S201'] {
  background-color: rgba(255, 0, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S202'] {
  background-color: rgba(153, 0, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S203'] {
  background-color: rgba(51, 0, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S204'] {
  background-color: rgba(153, 51, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S205'] {
  background-color: rgba(153, 102, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S206'] {
  background-color: rgba(255, 255, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S207'] {
  background-color: rgba(153, 153, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S208'] {
  background-color: rgba(51, 51, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S209'] {
  background-color: rgba(153, 204, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S210'] {
  background-color: rgba(51, 153, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S211'] {
  background-color: rgba(0, 255, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S212'] {
  background-color: rgba(0, 153, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S213'] {
  background-color: rgba(0, 51, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S214'] {
  background-color: rgba(0, 153, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S215'] {
  background-color: rgba(0, 153, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S216'] {
  background-color: rgba(0, 255, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S217'] {
  background-color: rgba(0, 153, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S218'] {
  background-color: rgba(0, 51, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S219'] {
  background-color: rgba(0, 102, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S220'] {
  background-color: rgba(0, 51, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S221'] {
  background-color: rgba(0, 0, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S222'] {
  background-color: rgba(0, 0, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S223'] {
  background-color: rgba(0, 0, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S224'] {
  background-color: rgba(51, 0, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S225'] {
  background-color: rgba(102, 0, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S226'] {
  background-color: rgba(255, 0, 255, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S227'] {
  background-color: rgba(153, 0, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S228'] {
  background-color: rgba(51, 0, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S229'] {
  background-color: rgba(153, 0, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S230'] {
  background-color: rgba(153, 0, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S231'] {
  background-color: rgba(102, 102, 102, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S232'] {
  background-color: rgba(51, 51, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S234'] {
  background-color: rgba(204, 51, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S235'] {
  background-color: rgba(204, 153, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S236'] {
  background-color: rgba(102, 153, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S237'] {
  background-color: rgba(51, 204, 0, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S238'] {
  background-color: rgba(0, 204, 51, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S239'] {
  background-color: rgba(0, 204, 153, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S240'] {
  background-color: rgba(0, 153, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

.symboolcode[data-symboolcode='S241'] {
  background-color: rgba(0, 51, 204, 1);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
}

// polygon symbolen met image vulling zonder border
.symboolcode[data-symboolcode='AS001'] {
  background-image: url('./symbols/imro/AS001.png');
}

.symboolcode[data-symboolcode='AS002'] {
  background-image: url('./symbols/imro/AS002.png');
}

.symboolcode[data-symboolcode='AS003'] {
  background-image: url('./symbols/imro/AS003.png');
}

.symboolcode[data-symboolcode='AS004'] {
  background-image: url('./symbols/imro/AS004.png');
}

.symboolcode[data-symboolcode='AS005'] {
  background-image: url('./symbols/imro/AS005.png');
}

.symboolcode[data-symboolcode='AS006'] {
  background-image: url('./symbols/imro/AS006.png');
}

.symboolcode[data-symboolcode='AS007'] {
  background-image: url('./symbols/imro/AS007.png');
}

.symboolcode[data-symboolcode='AS008'] {
  background-image: url('./symbols/imro/AS008.png');
}

.symboolcode[data-symboolcode='AS009'] {
  background-image: url('./symbols/imro/AS009.png');
}

.symboolcode[data-symboolcode='AS010'] {
  background-image: url('./symbols/imro/AS010.png');
}

.symboolcode[data-symboolcode='AS011'] {
  background-image: url('./symbols/imro/AS011.png');
}

.symboolcode[data-symboolcode='AS012'] {
  background-image: url('./symbols/imro/AS012.png');
}

.symboolcode[data-symboolcode='AS013'] {
  background-image: url('./symbols/imro/AS013.png');
}

.symboolcode[data-symboolcode='AS014'] {
  background-image: url('./symbols/imro/AS014.png');
}

.symboolcode[data-symboolcode='AS015'] {
  background-image: url('./symbols/imro/AS015.png');
}

.symboolcode[data-symboolcode='AS016'] {
  background-image: url('./symbols/imro/AS016.png');
}

.symboolcode[data-symboolcode='AS017'] {
  background-image: url('./symbols/imro/AS017.png');
}

.symboolcode[data-symboolcode='AS018'] {
  background-image: url('./symbols/imro/AS018.png');
}

.symboolcode[data-symboolcode='AS019'] {
  background-image: url('./symbols/imro/AS019.png');
}

.symboolcode[data-symboolcode='AS020'] {
  background-image: url('./symbols/imro/AS020.png');
}

.symboolcode[data-symboolcode='AS021'] {
  background-image: url('./symbols/imro/AS021.png');
}

.symboolcode[data-symboolcode='AS022'] {
  background-image: url('./symbols/imro/AS022.png');
}

.symboolcode[data-symboolcode='AS023'] {
  background-image: url('./symbols/imro/AS023.png');
}

.symboolcode[data-symboolcode='AS024'] {
  background-image: url('./symbols/imro/AS024.png');
}

.symboolcode[data-symboolcode='AS025'] {
  background-image: url('./symbols/imro/AS025.png');
}

.symboolcode[data-symboolcode='AS026'] {
  background-image: url('./symbols/imro/AS026.png');
}

.symboolcode[data-symboolcode='AS027'] {
  background-image: url('./symbols/imro/AS027.png');
}

.symboolcode[data-symboolcode='AS028'] {
  background-image: url('./symbols/imro/AS028.png');
}

.symboolcode[data-symboolcode='AS029'] {
  background-image: url('./symbols/imro/AS029.png');
}

.symboolcode[data-symboolcode='AS030'] {
  background-image: url('./symbols/imro/AS030.png');
}

.symboolcode[data-symboolcode='AS031'] {
  background-image: url('./symbols/imro/AS031.png');
}

.symboolcode[data-symboolcode='AS032'] {
  background-image: url('./symbols/imro/AS032.png');
}

.symboolcode[data-symboolcode='AS033'] {
  background-image: url('./symbols/imro/AS033.png');
}

.symboolcode[data-symboolcode='AS034'] {
  background-image: url('./symbols/imro/AS034.png');
}

.symboolcode[data-symboolcode='AS035'] {
  background-image: url('./symbols/imro/AS035.png');
}

.symboolcode[data-symboolcode='AS036'] {
  background-image: url('./symbols/imro/AS036.png');
}

.symboolcode[data-symboolcode='AS037'] {
  background-image: url('./symbols/imro/AS037.png');
}

.symboolcode[data-symboolcode='AS038'] {
  background-image: url('./symbols/imro/AS038.png');
}

.symboolcode[data-symboolcode='AS039'] {
  background-image: url('./symbols/imro/AS039.png');
}

.symboolcode[data-symboolcode='AS040'] {
  background-image: url('./symbols/imro/AS040.png');
}

.symboolcode[data-symboolcode='AS041'] {
  background-image: url('./symbols/imro/AS041.png');
}

.symboolcode[data-symboolcode='AS101'] {
  background-image: url('./symbols/imro/AS101.png');
}

.symboolcode[data-symboolcode='AS102'] {
  background-image: url('./symbols/imro/AS102.png');
}

.symboolcode[data-symboolcode='AS103'] {
  background-image: url('./symbols/imro/AS103.png');
}

.symboolcode[data-symboolcode='AS104'] {
  background-image: url('./symbols/imro/AS104.png');
}

.symboolcode[data-symboolcode='AS105'] {
  background-image: url('./symbols/imro/AS105.png');
}

.symboolcode[data-symboolcode='AS106'] {
  background-image: url('./symbols/imro/AS106.png');
}

.symboolcode[data-symboolcode='AS107'] {
  background-image: url('./symbols/imro/AS107.png');
}

.symboolcode[data-symboolcode='AS108'] {
  background-image: url('./symbols/imro/AS108.png');
}

.symboolcode[data-symboolcode='AS109'] {
  background-image: url('./symbols/imro/AS109.png');
}

.symboolcode[data-symboolcode='AS110'] {
  background-image: url('./symbols/imro/AS110.png');
}

.symboolcode[data-symboolcode='AS111'] {
  background-image: url('./symbols/imro/AS111.png');
}

.symboolcode[data-symboolcode='AS112'] {
  background-image: url('./symbols/imro/AS112.png');
}

.symboolcode[data-symboolcode='AS113'] {
  background-image: url('./symbols/imro/AS113.png');
}

.symboolcode[data-symboolcode='AS114'] {
  background-image: url('./symbols/imro/AS114.png');
}

.symboolcode[data-symboolcode='AS115'] {
  background-image: url('./symbols/imro/AS115.png');
}

.symboolcode[data-symboolcode='AS116'] {
  background-image: url('./symbols/imro/AS116.png');
}

.symboolcode[data-symboolcode='AS117'] {
  background-image: url('./symbols/imro/AS117.png');
}

.symboolcode[data-symboolcode='AS118'] {
  background-image: url('./symbols/imro/AS118.png');
}

.symboolcode[data-symboolcode='AS119'] {
  background-image: url('./symbols/imro/AS119.png');
}

.symboolcode[data-symboolcode='AS120'] {
  background-image: url('./symbols/imro/AS120.png');
}

.symboolcode[data-symboolcode='AS121'] {
  background-image: url('./symbols/imro/AS121.png');
}

.symboolcode[data-symboolcode='AS122'] {
  background-image: url('./symbols/imro/AS122.png');
}

.symboolcode[data-symboolcode='AS123'] {
  background-image: url('./symbols/imro/AS123.png');
}

.symboolcode[data-symboolcode='AS124'] {
  background-image: url('./symbols/imro/AS124.png');
}

.symboolcode[data-symboolcode='AS125'] {
  background-image: url('./symbols/imro/AS125.png');
}

.symboolcode[data-symboolcode='AS126'] {
  background-image: url('./symbols/imro/AS126.png');
}

.symboolcode[data-symboolcode='AS127'] {
  background-image: url('./symbols/imro/AS127.png');
}

.symboolcode[data-symboolcode='AS128'] {
  background-image: url('./symbols/imro/AS128.png');
}

.symboolcode[data-symboolcode='AS129'] {
  background-image: url('./symbols/imro/AS129.png');
}

.symboolcode[data-symboolcode='AS130'] {
  background-image: url('./symbols/imro/AS130.png');
}

.symboolcode[data-symboolcode='AS131'] {
  background-image: url('./symbols/imro/AS131.png');
}

.symboolcode[data-symboolcode='AS132'] {
  background-image: url('./symbols/imro/AS132.png');
}

.symboolcode[data-symboolcode='AS133'] {
  background-image: url('./symbols/imro/AS133.png');
}

.symboolcode[data-symboolcode='AS134'] {
  background-image: url('./symbols/imro/AS134.png');
}

.symboolcode[data-symboolcode='AS135'] {
  background-image: url('./symbols/imro/AS135.png');
}

.symboolcode[data-symboolcode='AS136'] {
  background-image: url('./symbols/imro/AS136.png');
}

.symboolcode[data-symboolcode='AS137'] {
  background-image: url('./symbols/imro/AS137.png');
}

.symboolcode[data-symboolcode='AS138'] {
  background-image: url('./symbols/imro/AS138.png');
}

.symboolcode[data-symboolcode='AS139'] {
  background-image: url('./symbols/imro/AS139.png');
}

.symboolcode[data-symboolcode='AS140'] {
  background-image: url('./symbols/imro/AS140.png');
}

.symboolcode[data-symboolcode='AS141'] {
  background-image: url('./symbols/imro/AS141.png');
}

.symboolcode[data-symboolcode='AS201'] {
  background-image: url('./symbols/imro/AS201.png');
}

.symboolcode[data-symboolcode='AS202'] {
  background-image: url('./symbols/imro/AS202.png');
}

.symboolcode[data-symboolcode='AS203'] {
  background-image: url('./symbols/imro/AS203.png');
}

.symboolcode[data-symboolcode='AS204'] {
  background-image: url('./symbols/imro/AS204.png');
}

.symboolcode[data-symboolcode='AS205'] {
  background-image: url('./symbols/imro/AS205.png');
}

.symboolcode[data-symboolcode='AS206'] {
  background-image: url('./symbols/imro/AS206.png');
}

.symboolcode[data-symboolcode='AS207'] {
  background-image: url('./symbols/imro/AS207.png');
}

.symboolcode[data-symboolcode='AS208'] {
  background-image: url('./symbols/imro/AS208.png');
}

.symboolcode[data-symboolcode='AS209'] {
  background-image: url('./symbols/imro/AS209.png');
}

.symboolcode[data-symboolcode='AS210'] {
  background-image: url('./symbols/imro/AS210.png');
}

.symboolcode[data-symboolcode='AS211'] {
  background-image: url('./symbols/imro/AS211.png');
}

.symboolcode[data-symboolcode='AS212'] {
  background-image: url('./symbols/imro/AS212.png');
}

.symboolcode[data-symboolcode='AS213'] {
  background-image: url('./symbols/imro/AS213.png');
}

.symboolcode[data-symboolcode='AS214'] {
  background-image: url('./symbols/imro/AS214.png');
}

.symboolcode[data-symboolcode='AS215'] {
  background-image: url('./symbols/imro/AS215.png');
}

.symboolcode[data-symboolcode='AS216'] {
  background-image: url('./symbols/imro/AS216.png');
}

.symboolcode[data-symboolcode='AS217'] {
  background-image: url('./symbols/imro/AS217.png');
}

.symboolcode[data-symboolcode='AS218'] {
  background-image: url('./symbols/imro/AS218.png');
}

.symboolcode[data-symboolcode='AS219'] {
  background-image: url('./symbols/imro/AS219.png');
}

.symboolcode[data-symboolcode='AS220'] {
  background-image: url('./symbols/imro/AS220.png');
}

.symboolcode[data-symboolcode='AS221'] {
  background-image: url('./symbols/imro/AS221.png');
}

.symboolcode[data-symboolcode='AS222'] {
  background-image: url('./symbols/imro/AS222.png');
}

.symboolcode[data-symboolcode='AS223'] {
  background-image: url('./symbols/imro/AS223.png');
}

.symboolcode[data-symboolcode='AS224'] {
  background-image: url('./symbols/imro/AS224.png');
}

.symboolcode[data-symboolcode='AS225'] {
  background-image: url('./symbols/imro/AS225.png');
}

.symboolcode[data-symboolcode='AS226'] {
  background-image: url('./symbols/imro/AS226.png');
}

.symboolcode[data-symboolcode='AS227'] {
  background-image: url('./symbols/imro/AS227.png');
}

.symboolcode[data-symboolcode='AS228'] {
  background-image: url('./symbols/imro/AS228.png');
}

.symboolcode[data-symboolcode='AS229'] {
  background-image: url('./symbols/imro/AS229.png');
}

.symboolcode[data-symboolcode='AS230'] {
  background-image: url('./symbols/imro/AS230.png');
}

.symboolcode[data-symboolcode='AS231'] {
  background-image: url('./symbols/imro/AS231.png');
}

.symboolcode[data-symboolcode='AS232'] {
  background-image: url('./symbols/imro/AS232.png');
}

.symboolcode[data-symboolcode='AS233'] {
  background-image: url('./symbols/imro/AS233.png');
}

.symboolcode[data-symboolcode='AS234'] {
  background-image: url('./symbols/imro/AS234.png');
}

.symboolcode[data-symboolcode='AS235'] {
  background-image: url('./symbols/imro/AS235.png');
}

.symboolcode[data-symboolcode='AS236'] {
  background-image: url('./symbols/imro/AS236.png');
}

.symboolcode[data-symboolcode='AS237'] {
  background-image: url('./symbols/imro/AS237.png');
}

.symboolcode[data-symboolcode='AS238'] {
  background-image: url('./symbols/imro/AS238.png');
}

.symboolcode[data-symboolcode='AS239'] {
  background-image: url('./symbols/imro/AS239.png');
}

.symboolcode[data-symboolcode='AS240'] {
  background-image: url('./symbols/imro/AS240.png');
}

.symboolcode[data-symboolcode='AS241'] {
  background-image: url('./symbols/imro/AS241.png');
}

.symboolcode[data-symboolcode='AS301'] {
  background-image: url('./symbols/imro/AS301.png');
}

.symboolcode[data-symboolcode='AS302'] {
  background-image: url('./symbols/imro/AS302.png');
}

.symboolcode[data-symboolcode='AS303'] {
  background-image: url('./symbols/imro/AS303.png');
}

.symboolcode[data-symboolcode='AS304'] {
  background-image: url('./symbols/imro/AS304.png');
}

.symboolcode[data-symboolcode='AS305'] {
  background-image: url('./symbols/imro/AS305.png');
}

.symboolcode[data-symboolcode='AS306'] {
  background-image: url('./symbols/imro/AS306.png');
}

.symboolcode[data-symboolcode='AS307'] {
  background-image: url('./symbols/imro/AS307.png');
}

.symboolcode[data-symboolcode='AS308'] {
  background-image: url('./symbols/imro/AS308.png');
}

.symboolcode[data-symboolcode='AS309'] {
  background-image: url('./symbols/imro/AS309.png');
}

.symboolcode[data-symboolcode='AS310'] {
  background-image: url('./symbols/imro/AS310.png');
}

.symboolcode[data-symboolcode='AS311'] {
  background-image: url('./symbols/imro/AS311.png');
}

.symboolcode[data-symboolcode='AS312'] {
  background-image: url('./symbols/imro/AS312.png');
}

.symboolcode[data-symboolcode='AS313'] {
  background-image: url('./symbols/imro/AS313.png');
}

.symboolcode[data-symboolcode='AS314'] {
  background-image: url('./symbols/imro/AS314.png');
}

.symboolcode[data-symboolcode='AS315'] {
  background-image: url('./symbols/imro/AS315.png');
}

.symboolcode[data-symboolcode='AS316'] {
  background-image: url('./symbols/imro/AS316.png');
}

.symboolcode[data-symboolcode='AS317'] {
  background-image: url('./symbols/imro/AS317.png');
}

.symboolcode[data-symboolcode='AS318'] {
  background-image: url('./symbols/imro/AS318.png');
}

.symboolcode[data-symboolcode='AS319'] {
  background-image: url('./symbols/imro/AS319.png');
}

.symboolcode[data-symboolcode='AS320'] {
  background-image: url('./symbols/imro/AS320.png');
}

.symboolcode[data-symboolcode='AS321'] {
  background-image: url('./symbols/imro/AS321.png');
}

.symboolcode[data-symboolcode='AS322'] {
  background-image: url('./symbols/imro/AS322.png');
}

.symboolcode[data-symboolcode='AS323'] {
  background-image: url('./symbols/imro/AS323.png');
}

.symboolcode[data-symboolcode='AS324'] {
  background-image: url('./symbols/imro/AS324.png');
}

.symboolcode[data-symboolcode='AS325'] {
  background-image: url('./symbols/imro/AS325.png');
}

.symboolcode[data-symboolcode='AS326'] {
  background-image: url('./symbols/imro/AS326.png');
}

.symboolcode[data-symboolcode='AS327'] {
  background-image: url('./symbols/imro/AS327.png');
}

.symboolcode[data-symboolcode='AS328'] {
  background-image: url('./symbols/imro/AS328.png');
}

.symboolcode[data-symboolcode='AS329'] {
  background-image: url('./symbols/imro/AS329.png');
}

.symboolcode[data-symboolcode='AS330'] {
  background-image: url('./symbols/imro/AS330.png');
}

.symboolcode[data-symboolcode='AS331'] {
  background-image: url('./symbols/imro/AS331.png');
}

.symboolcode[data-symboolcode='AS332'] {
  background-image: url('./symbols/imro/AS332.png');
}

.symboolcode[data-symboolcode='AS333'] {
  background-image: url('./symbols/imro/AS333.png');
}

.symboolcode[data-symboolcode='AS334'] {
  background-image: url('./symbols/imro/AS334.png');
}

.symboolcode[data-symboolcode='AS335'] {
  background-image: url('./symbols/imro/AS335.png');
}

.symboolcode[data-symboolcode='AS336'] {
  background-image: url('./symbols/imro/AS336.png');
}

.symboolcode[data-symboolcode='AS337'] {
  background-image: url('./symbols/imro/AS337.png');
}

.symboolcode[data-symboolcode='AS338'] {
  background-image: url('./symbols/imro/AS338.png');
}

.symboolcode[data-symboolcode='AS339'] {
  background-image: url('./symbols/imro/AS339.png');
}

.symboolcode[data-symboolcode='AS340'] {
  background-image: url('./symbols/imro/AS340.png');
}

.symboolcode[data-symboolcode='AS341'] {
  background-image: url('./symbols/imro/AS341.png');
}
