.symboolcode[data-symboolcode='P001'] {
  background-image: url('./symbols/imro/P001.png');
}

.symboolcode[data-symboolcode='P002'] {
  background-image: url('./symbols/imro/P002.png');
}

.symboolcode[data-symboolcode='P003'] {
  background-image: url('./symbols/imro/P003.png');
}

.symboolcode[data-symboolcode='P004'] {
  background-image: url('./symbols/imro/P004.png');
}

.symboolcode[data-symboolcode='P005'] {
  background-image: url('./symbols/imro/P005.png');
}

.symboolcode[data-symboolcode='P006'] {
  background-image: url('./symbols/imro/P006.png');
}

.symboolcode[data-symboolcode='P007'] {
  background-image: url('./symbols/imro/P007.png');
}

.symboolcode[data-symboolcode='P008'] {
  background-image: url('./symbols/imro/P008.png');
}

.symboolcode[data-symboolcode='P009'] {
  background-image: url('./symbols/imro/P009.png');
}

.symboolcode[data-symboolcode='P010'] {
  background-image: url('./symbols/imro/P010.png');
}

.symboolcode[data-symboolcode='P011'] {
  background-image: url('./symbols/imro/P011.png');
}

.symboolcode[data-symboolcode='P012'] {
  background-image: url('./symbols/imro/P012.png');
}

.symboolcode[data-symboolcode='P013'] {
  background-image: url('./symbols/imro/P013.png');
}

.symboolcode[data-symboolcode='P014'] {
  background-image: url('./symbols/imro/P014.png');
}

.symboolcode[data-symboolcode='P015'] {
  background-image: url('./symbols/imro/P015.png');
}

.symboolcode[data-symboolcode='P016'] {
  background-image: url('./symbols/imro/P016.png');
}

.symboolcode[data-symboolcode='P017'] {
  background-image: url('./symbols/imro/P017.png');
}

.symboolcode[data-symboolcode='P018'] {
  background-image: url('./symbols/imro/P018.png');
}

.symboolcode[data-symboolcode='P019'] {
  background-image: url('./symbols/imro/P019.png');
}

.symboolcode[data-symboolcode='P020'] {
  background-image: url('./symbols/imro/P020.png');
}

.symboolcode[data-symboolcode='P021'] {
  background-image: url('./symbols/imro/P021.png');
}

.symboolcode[data-symboolcode='P022'] {
  background-image: url('./symbols/imro/P022.png');
}

.symboolcode[data-symboolcode='P023'] {
  background-image: url('./symbols/imro/P023.png');
}

.symboolcode[data-symboolcode='P024'] {
  background-image: url('./symbols/imro/P024.png');
}

.symboolcode[data-symboolcode='P025'] {
  background-image: url('./symbols/imro/P025.png');
}

.symboolcode[data-symboolcode='P026'] {
  background-image: url('./symbols/imro/P026.png');
}

.symboolcode[data-symboolcode='P027'] {
  background-image: url('./symbols/imro/P027.png');
}

.symboolcode[data-symboolcode='P028'] {
  background-image: url('./symbols/imro/P028.png');
}

.symboolcode[data-symboolcode='P029'] {
  background-image: url('./symbols/imro/P029.png');
}

.symboolcode[data-symboolcode='P030'] {
  background-image: url('./symbols/imro/P030.png');
}

.symboolcode[data-symboolcode='P031'] {
  background-image: url('./symbols/imro/P031.png');
}

.symboolcode[data-symboolcode='P032'] {
  background-image: url('./symbols/imro/P032.png');
}

.symboolcode[data-symboolcode='P033'] {
  background-image: url('./symbols/imro/P033.png');
}

.symboolcode[data-symboolcode='P034'] {
  background-image: url('./symbols/imro/P034.png');
}

.symboolcode[data-symboolcode='P035'] {
  background-image: url('./symbols/imro/P035.png');
}

.symboolcode[data-symboolcode='P036'] {
  background-image: url('./symbols/imro/P036.png');
}

.symboolcode[data-symboolcode='P037'] {
  background-image: url('./symbols/imro/P037.png');
}

.symboolcode[data-symboolcode='P038'] {
  background-image: url('./symbols/imro/P038.png');
}

.symboolcode[data-symboolcode='P039'] {
  background-image: url('./symbols/imro/P039.png');
}

.symboolcode[data-symboolcode='P040'] {
  background-image: url('./symbols/imro/P040.png');
}

.symboolcode[data-symboolcode='P041'] {
  background-image: url('./symbols/imro/P041.png');
}

.symboolcode[data-symboolcode='P101'] {
  background-image: url('./symbols/imro/P101.png');
}

.symboolcode[data-symboolcode='P102'] {
  background-image: url('./symbols/imro/P102.png');
}

.symboolcode[data-symboolcode='P103'] {
  background-image: url('./symbols/imro/P103.png');
}

.symboolcode[data-symboolcode='P104'] {
  background-image: url('./symbols/imro/P104.png');
}

.symboolcode[data-symboolcode='P105'] {
  background-image: url('./symbols/imro/P105.png');
}

.symboolcode[data-symboolcode='P106'] {
  background-image: url('./symbols/imro/P106.png');
}

.symboolcode[data-symboolcode='P107'] {
  background-image: url('./symbols/imro/P107.png');
}

.symboolcode[data-symboolcode='P108'] {
  background-image: url('./symbols/imro/P108.png');
}

.symboolcode[data-symboolcode='P109'] {
  background-image: url('./symbols/imro/P109.png');
}

.symboolcode[data-symboolcode='P110'] {
  background-image: url('./symbols/imro/P110.png');
}

.symboolcode[data-symboolcode='P111'] {
  background-image: url('./symbols/imro/P111.png');
}

.symboolcode[data-symboolcode='P112'] {
  background-image: url('./symbols/imro/P112.png');
}

.symboolcode[data-symboolcode='P113'] {
  background-image: url('./symbols/imro/P113.png');
}

.symboolcode[data-symboolcode='P114'] {
  background-image: url('./symbols/imro/P114.png');
}

.symboolcode[data-symboolcode='P115'] {
  background-image: url('./symbols/imro/P115.png');
}

.symboolcode[data-symboolcode='P116'] {
  background-image: url('./symbols/imro/P116.png');
}

.symboolcode[data-symboolcode='P117'] {
  background-image: url('./symbols/imro/P117.png');
}

.symboolcode[data-symboolcode='P118'] {
  background-image: url('./symbols/imro/P118.png');
}

.symboolcode[data-symboolcode='P119'] {
  background-image: url('./symbols/imro/P119.png');
}

.symboolcode[data-symboolcode='P120'] {
  background-image: url('./symbols/imro/P120.png');
}

.symboolcode[data-symboolcode='P121'] {
  background-image: url('./symbols/imro/P121.png');
}

.symboolcode[data-symboolcode='P122'] {
  background-image: url('./symbols/imro/P122.png');
}

.symboolcode[data-symboolcode='P123'] {
  background-image: url('./symbols/imro/P123.png');
}

.symboolcode[data-symboolcode='P124'] {
  background-image: url('./symbols/imro/P124.png');
}

.symboolcode[data-symboolcode='P125'] {
  background-image: url('./symbols/imro/P125.png');
}

.symboolcode[data-symboolcode='P126'] {
  background-image: url('./symbols/imro/P126.png');
}

.symboolcode[data-symboolcode='P127'] {
  background-image: url('./symbols/imro/P127.png');
}

.symboolcode[data-symboolcode='P128'] {
  background-image: url('./symbols/imro/P128.png');
}

.symboolcode[data-symboolcode='P129'] {
  background-image: url('./symbols/imro/P129.png');
}

.symboolcode[data-symboolcode='P130'] {
  background-image: url('./symbols/imro/P130.png');
}

.symboolcode[data-symboolcode='P131'] {
  background-image: url('./symbols/imro/P131.png');
}

.symboolcode[data-symboolcode='P132'] {
  background-image: url('./symbols/imro/P132.png');
}

.symboolcode[data-symboolcode='P133'] {
  background-image: url('./symbols/imro/P133.png');
}

.symboolcode[data-symboolcode='P134'] {
  background-image: url('./symbols/imro/P134.png');
}

.symboolcode[data-symboolcode='P135'] {
  background-image: url('./symbols/imro/P135.png');
}

.symboolcode[data-symboolcode='P136'] {
  background-image: url('./symbols/imro/P136.png');
}

.symboolcode[data-symboolcode='P137'] {
  background-image: url('./symbols/imro/P137.png');
}

.symboolcode[data-symboolcode='P138'] {
  background-image: url('./symbols/imro/P138.png');
}

.symboolcode[data-symboolcode='P139'] {
  background-image: url('./symbols/imro/P139.png');
}

.symboolcode[data-symboolcode='P140'] {
  background-image: url('./symbols/imro/P140.png');
}

.symboolcode[data-symboolcode='P141'] {
  background-image: url('./symbols/imro/P141.png');
}

.symboolcode[data-symboolcode='P201'] {
  background-image: url('./symbols/imro/P201.png');
}

.symboolcode[data-symboolcode='P202'] {
  background-image: url('./symbols/imro/P202.png');
}

.symboolcode[data-symboolcode='P203'] {
  background-image: url('./symbols/imro/P203.png');
}

.symboolcode[data-symboolcode='P205'] {
  background-image: url('./symbols/imro/P205.png');
}

.symboolcode[data-symboolcode='P206'] {
  background-image: url('./symbols/imro/P206.png');
}

.symboolcode[data-symboolcode='P207'] {
  background-image: url('./symbols/imro/P207.png');
}

.symboolcode[data-symboolcode='P208'] {
  background-image: url('./symbols/imro/P208.png');
}

.symboolcode[data-symboolcode='P209'] {
  background-image: url('./symbols/imro/P209.png');
}

.symboolcode[data-symboolcode='P211'] {
  background-image: url('./symbols/imro/P211.png');
}

.symboolcode[data-symboolcode='P212'] {
  background-image: url('./symbols/imro/P212.png');
}

.symboolcode[data-symboolcode='P213'] {
  background-image: url('./symbols/imro/P213.png');
}

.symboolcode[data-symboolcode='P214'] {
  background-image: url('./symbols/imro/P214.png');
}

.symboolcode[data-symboolcode='P215'] {
  background-image: url('./symbols/imro/P215.png');
}

.symboolcode[data-symboolcode='P217'] {
  background-image: url('./symbols/imro/P217.png');
}

.symboolcode[data-symboolcode='P218'] {
  background-image: url('./symbols/imro/P218.png');
}

.symboolcode[data-symboolcode='P219'] {
  background-image: url('./symbols/imro/P219.png');
}

.symboolcode[data-symboolcode='P220'] {
  background-image: url('./symbols/imro/P220.png');
}

.symboolcode[data-symboolcode='P221'] {
  background-image: url('./symbols/imro/P221.png');
}

.symboolcode[data-symboolcode='P223'] {
  background-image: url('./symbols/imro/P223.png');
}

.symboolcode[data-symboolcode='P224'] {
  background-image: url('./symbols/imro/P224.png');
}

.symboolcode[data-symboolcode='P225'] {
  background-image: url('./symbols/imro/P225.png');
}

.symboolcode[data-symboolcode='P226'] {
  background-image: url('./symbols/imro/P226.png');
}

.symboolcode[data-symboolcode='P227'] {
  background-image: url('./symbols/imro/P227.png');
}

.symboolcode[data-symboolcode='P229'] {
  background-image: url('./symbols/imro/P229.png');
}

.symboolcode[data-symboolcode='P230'] {
  background-image: url('./symbols/imro/P230.png');
}

.symboolcode[data-symboolcode='P231'] {
  background-image: url('./symbols/imro/P231.png');
}

.symboolcode[data-symboolcode='P232'] {
  background-image: url('./symbols/imro/P232.png');
}

.symboolcode[data-symboolcode='P235'] {
  background-image: url('./symbols/imro/P235.png');
}

.symboolcode[data-symboolcode='P236'] {
  background-image: url('./symbols/imro/P236.png');
}

.symboolcode[data-symboolcode='P237'] {
  background-image: url('./symbols/imro/P237.png');
}

.symboolcode[data-symboolcode='P239'] {
  background-image: url('./symbols/imro/P239.png');
}

.symboolcode[data-symboolcode='P241'] {
  background-image: url('./symbols/imro/P241.png');
}

.symboolcode[data-symboolcode='P301'] {
  background-image: url('./symbols/imro/P301.png');
}

.symboolcode[data-symboolcode='P302'] {
  background-image: url('./symbols/imro/P302.png');
}

.symboolcode[data-symboolcode='P303'] {
  background-image: url('./symbols/imro/P303.png');
}

.symboolcode[data-symboolcode='P304'] {
  background-image: url('./symbols/imro/P304.png');
}

.symboolcode[data-symboolcode='P305'] {
  background-image: url('./symbols/imro/P305.png');
}

.symboolcode[data-symboolcode='P306'] {
  background-image: url('./symbols/imro/P306.png');
}

.symboolcode[data-symboolcode='P307'] {
  background-image: url('./symbols/imro/P307.png');
}

.symboolcode[data-symboolcode='P308'] {
  background-image: url('./symbols/imro/P308.png');
}

.symboolcode[data-symboolcode='P309'] {
  background-image: url('./symbols/imro/P309.png');
}

.symboolcode[data-symboolcode='P310'] {
  background-image: url('./symbols/imro/P310.png');
}

.symboolcode[data-symboolcode='P311'] {
  background-image: url('./symbols/imro/P311.png');
}

.symboolcode[data-symboolcode='P312'] {
  background-image: url('./symbols/imro/P312.png');
}

.symboolcode[data-symboolcode='P313'] {
  background-image: url('./symbols/imro/P313.png');
}

.symboolcode[data-symboolcode='P316'] {
  background-image: url('./symbols/imro/P316.png');
}

.symboolcode[data-symboolcode='P317'] {
  background-image: url('./symbols/imro/P317.png');
}

.symboolcode[data-symboolcode='P319'] {
  background-image: url('./symbols/imro/P319.png');
}

.symboolcode[data-symboolcode='P320'] {
  background-image: url('./symbols/imro/P320.png');
}

.symboolcode[data-symboolcode='P324'] {
  background-image: url('./symbols/imro/P324.png');
}

.symboolcode[data-symboolcode='P325'] {
  background-image: url('./symbols/imro/P325.png');
}

.symboolcode[data-symboolcode='P326'] {
  background-image: url('./symbols/imro/P326.png');
}

.symboolcode[data-symboolcode='P327'] {
  background-image: url('./symbols/imro/P327.png');
}

.symboolcode[data-symboolcode='P329'] {
  background-image: url('./symbols/imro/P329.png');
}

.symboolcode[data-symboolcode='P331'] {
  background-image: url('./symbols/imro/P331.png');
}

.symboolcode[data-symboolcode='P332'] {
  background-image: url('./symbols/imro/P332.png');
}

.symboolcode[data-symboolcode='P334'] {
  background-image: url('./symbols/imro/P334.png');
}

.symboolcode[data-symboolcode='P335'] {
  background-image: url('./symbols/imro/P335.png');
}

.symboolcode[data-symboolcode='P401'] {
  background-image: url('./symbols/imro/P401.png');
}

.symboolcode[data-symboolcode='P402'] {
  background-image: url('./symbols/imro/P402.png');
}

.symboolcode[data-symboolcode='P403'] {
  background-image: url('./symbols/imro/P403.png');
}

.symboolcode[data-symboolcode='P404'] {
  background-image: url('./symbols/imro/P404.png');
}

.symboolcode[data-symboolcode='P405'] {
  background-image: url('./symbols/imro/P405.png');
}

.symboolcode[data-symboolcode='P406'] {
  background-image: url('./symbols/imro/P406.png');
}

.symboolcode[data-symboolcode='P407'] {
  background-image: url('./symbols/imro/P407.png');
}

.symboolcode[data-symboolcode='P408'] {
  background-image: url('./symbols/imro/P408.png');
}

.symboolcode[data-symboolcode='P409'] {
  background-image: url('./symbols/imro/P409.png');
}

.symboolcode[data-symboolcode='P410'] {
  background-image: url('./symbols/imro/P410.png');
}

.symboolcode[data-symboolcode='P411'] {
  background-image: url('./symbols/imro/P411.png');
}

.symboolcode[data-symboolcode='P413'] {
  background-image: url('./symbols/imro/P413.png');
}

.symboolcode[data-symboolcode='P416'] {
  background-image: url('./symbols/imro/P416.png');
}

.symboolcode[data-symboolcode='P417'] {
  background-image: url('./symbols/imro/P417.png');
}

.symboolcode[data-symboolcode='P419'] {
  background-image: url('./symbols/imro/P419.png');
}

.symboolcode[data-symboolcode='P420'] {
  background-image: url('./symbols/imro/P420.png');
}

.symboolcode[data-symboolcode='P425'] {
  background-image: url('./symbols/imro/P425.png');
}

.symboolcode[data-symboolcode='P426'] {
  background-image: url('./symbols/imro/P426.png');
}

.symboolcode[data-symboolcode='P427'] {
  background-image: url('./symbols/imro/P427.png');
}

.symboolcode[data-symboolcode='P429'] {
  background-image: url('./symbols/imro/P429.png');
}

.symboolcode[data-symboolcode='P431'] {
  background-image: url('./symbols/imro/P431.png');
}

.symboolcode[data-symboolcode='P432'] {
  background-image: url('./symbols/imro/P432.png');
}

.symboolcode[data-symboolcode='P434'] {
  background-image: url('./symbols/imro/P434.png');
}

.symboolcode[data-symboolcode='P435'] {
  background-image: url('./symbols/imro/P435.png');
}
