.symboolcode[data-symboolcode='L001'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L002'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0), rgb(153, 0, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L003'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0), rgb(51, 0, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L004'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0), rgb(153, 51, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L005'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0), rgb(153, 102, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L006'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L007'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0), rgb(153, 153, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L008'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0), rgb(51, 51, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L009'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0), rgb(153, 204, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L010'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0), rgb(51, 153, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L011'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(0, 255, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L012'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0), rgb(0, 153, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L013'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0), rgb(0, 51, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L014'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 153, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L015'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102), rgb(0, 153, 102));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L016'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 255, 255));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L017'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153), rgb(0, 153, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L018'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51), rgb(0, 51, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L019'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153), rgb(0, 102, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L020'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153), rgb(0, 51, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L021'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(0, 0, 255));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L022'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153), rgb(0, 0, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L023'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51), rgb(0, 0, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L024'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153), rgb(51, 0, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L025'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153), rgb(102, 0, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L026'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 0, 255));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L027'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153), rgb(153, 0, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L028'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51), rgb(51, 0, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L029'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102), rgb(153, 0, 102));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L030'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51), rgb(153, 0, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L031'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102), rgb(102, 102, 102));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L032'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51), rgb(51, 51, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L033'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L034'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0), rgb(204, 51, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L035'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0), rgb(204, 153, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L036'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0), rgb(102, 153, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L037'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0), rgb(51, 204, 0));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L038'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51), rgb(0, 204, 51));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L039'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153), rgb(0, 204, 153));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L040'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204), rgb(0, 153, 204));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L041'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204), rgb(0, 51, 204));
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L101'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L102'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0), rgb(153, 0, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L103'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0), rgb(51, 0, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L104'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0), rgb(153, 51, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L105'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0), rgb(153, 102, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L106'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L107'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0), rgb(153, 153, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L108'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0), rgb(51, 51, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L109'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0), rgb(153, 204, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L110'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0), rgb(51, 153, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L111'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(0, 255, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L112'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0), rgb(0, 153, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L113'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0), rgb(0, 51, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L114'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 153, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L115'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102), rgb(0, 153, 102));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L116'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 255, 255));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L117'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153), rgb(0, 153, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L118'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51), rgb(0, 51, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L119'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153), rgb(0, 102, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L120'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153), rgb(0, 51, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L121'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(0, 0, 255));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L122'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153), rgb(0, 0, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L123'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51), rgb(0, 0, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L124'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153), rgb(51, 0, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L125'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153), rgb(102, 0, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L126'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 0, 255));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L127'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153), rgb(153, 0, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L128'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51), rgb(51, 0, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L129'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102), rgb(153, 0, 102));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L130'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51), rgb(153, 0, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L131'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102), rgb(102, 102, 102));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L132'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51), rgb(51, 51, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L133'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L134'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0), rgb(204, 51, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L135'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0), rgb(204, 153, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L136'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0), rgb(102, 153, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L137'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0), rgb(51, 204, 0));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L138'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51), rgb(0, 204, 51));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L139'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153), rgb(0, 204, 153));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L140'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204), rgb(0, 153, 204));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L141'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204), rgb(0, 51, 204));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L201'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L202'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0), rgb(153, 0, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L203'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0), rgb(51, 0, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L204'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0), rgb(153, 51, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L205'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0), rgb(153, 102, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L206'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 255, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L207'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0), rgb(153, 153, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L208'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0), rgb(51, 51, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L209'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0), rgb(153, 204, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L210'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0), rgb(51, 153, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L211'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0), rgb(0, 255, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L212'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0), rgb(0, 153, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L213'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0), rgb(0, 51, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L214'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51), rgb(0, 153, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L215'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102), rgb(0, 153, 102));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L216'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(0, 255, 255));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L217'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153), rgb(0, 153, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L218'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51), rgb(0, 51, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L219'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153), rgb(0, 102, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L220'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153), rgb(0, 51, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L221'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(0, 0, 255));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L222'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153), rgb(0, 0, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L223'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51), rgb(0, 0, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L224'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153), rgb(51, 0, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L225'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153), rgb(102, 0, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L226'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255), rgb(255, 0, 255));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L227'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153), rgb(153, 0, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L228'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51), rgb(51, 0, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L229'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102), rgb(153, 0, 102));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L230'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51), rgb(153, 0, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L231'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102), rgb(102, 102, 102));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L232'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51), rgb(51, 51, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L233'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L234'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0), rgb(204, 51, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L235'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0), rgb(204, 153, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L236'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0), rgb(102, 153, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L237'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0), rgb(51, 204, 0));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L238'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51), rgb(0, 204, 51));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L239'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153), rgb(0, 204, 153));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L240'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204), rgb(0, 153, 204));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L241'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204), rgb(0, 51, 204));
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L301'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L302'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L303'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L304'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L305'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L306'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L307'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L308'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L309'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L310'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L311'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L312'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L313'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L314'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L315'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L316'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L317'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L318'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L319'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L320'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L321'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L322'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L323'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L324'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L325'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L326'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L327'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L328'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L329'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L330'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L331'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L332'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L333'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L334'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L335'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L336'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L337'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L338'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L339'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L340'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L341'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L401'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L402'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L403'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L404'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L405'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L406'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L407'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L408'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L409'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L410'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L411'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L412'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L413'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L414'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L415'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L416'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L417'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L418'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L419'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L420'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L421'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L422'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L423'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L424'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L425'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L426'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L427'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L428'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L429'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L430'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L431'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L432'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L433'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L434'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L435'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L436'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L437'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L438'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L439'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L440'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L441'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 8px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L501'] {
  background-image: linear-gradient(to right, rgb(255, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L502'] {
  background-image: linear-gradient(to right, rgb(153, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L503'] {
  background-image: linear-gradient(to right, rgb(51, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L504'] {
  background-image: linear-gradient(to right, rgb(153, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L505'] {
  background-image: linear-gradient(to right, rgb(153, 102, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L506'] {
  background-image: linear-gradient(to right, rgb(255, 255, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L507'] {
  background-image: linear-gradient(to right, rgb(153, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L508'] {
  background-image: linear-gradient(to right, rgb(51, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L509'] {
  background-image: linear-gradient(to right, rgb(153, 204, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L510'] {
  background-image: linear-gradient(to right, rgb(51, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L511'] {
  background-image: linear-gradient(to right, rgb(0, 255, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L512'] {
  background-image: linear-gradient(to right, rgb(0, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L513'] {
  background-image: linear-gradient(to right, rgb(0, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L514'] {
  background-image: linear-gradient(to right, rgb(0, 153, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L515'] {
  background-image: linear-gradient(to right, rgb(0, 153, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L516'] {
  background-image: linear-gradient(to right, rgb(0, 255, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L517'] {
  background-image: linear-gradient(to right, rgb(0, 153, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L518'] {
  background-image: linear-gradient(to right, rgb(0, 51, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L519'] {
  background-image: linear-gradient(to right, rgb(0, 102, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L520'] {
  background-image: linear-gradient(to right, rgb(0, 51, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L521'] {
  background-image: linear-gradient(to right, rgb(0, 0, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L522'] {
  background-image: linear-gradient(to right, rgb(0, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L523'] {
  background-image: linear-gradient(to right, rgb(0, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L524'] {
  background-image: linear-gradient(to right, rgb(51, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L525'] {
  background-image: linear-gradient(to right, rgb(102, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L526'] {
  background-image: linear-gradient(to right, rgb(255, 0, 255) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L527'] {
  background-image: linear-gradient(to right, rgb(153, 0, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L528'] {
  background-image: linear-gradient(to right, rgb(51, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L529'] {
  background-image: linear-gradient(to right, rgb(153, 0, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L530'] {
  background-image: linear-gradient(to right, rgb(153, 0, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L531'] {
  background-image: linear-gradient(to right, rgb(102, 102, 102) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L532'] {
  background-image: linear-gradient(to right, rgb(51, 51, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L533'] {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L534'] {
  background-image: linear-gradient(to right, rgb(204, 51, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L535'] {
  background-image: linear-gradient(to right, rgb(204, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L536'] {
  background-image: linear-gradient(to right, rgb(102, 153, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L537'] {
  background-image: linear-gradient(to right, rgb(51, 204, 0) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L538'] {
  background-image: linear-gradient(to right, rgb(0, 204, 51) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L539'] {
  background-image: linear-gradient(to right, rgb(0, 204, 153) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L540'] {
  background-image: linear-gradient(to right, rgb(0, 153, 204) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.symboolcode[data-symboolcode='L541'] {
  background-image: linear-gradient(to right, rgb(0, 51, 204) 70%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
