.symboolcode[data-symboolcode='enkelbestemming_agrarisch'] {
  background-color: #ebf0d2;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_agrarisch_met_waarden'] {
  background-color: #d2e1a5;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_bedrijf'] {
  background-color: #b45fd2;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_bedrijventerrein'] {
  background-color: #c8a0d7;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_bos'] {
  background-color: #64aa2d;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_centrum'] {
  background-color: #ffc8be;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_cultuur_en_ontspanning'] {
  background-color: #ff3c82;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_detailhandel'] {
  background-color: #ffa096;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_dienstverlening'] {
  background-color: #f091be;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_gemengd'] {
  background-color: #ffbe87;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_groen'] {
  background-color: #28c846;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_horeca'] {
  background-color: #ff6923;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_infrastructuur'] {
  background-color: #cdcdcd;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_kantoor'] {
  background-color: #ebc3d7;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_maatschappelijk'] {
  background-color: #dc9b78;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_natuur'] {
  background-color: #82a591;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_recreatie'] {
  background-color: #b9d746;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_sport'] {
  background-color: #82c846;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_tuin'] {
  background-color: #c8d76e;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_verkeer'] {
  background-color: #cdcdcd;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_ontspanning_en_vermaak'] {
  background-color: #ff3c82;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_water'] {
  background-color: #afcde1;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_wonen'] {
  background-color: #ffff00;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_woongebied'] {
  background-color: #ffffb4;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='enkelbestemming_overig'] {
  background-color: #ebe1eb;
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='dubbelbestemming_waterstaat'] {
  background-image: url('./symbols/bp_waterstaat.png');
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='dubbelbestemming_waarde'] {
  background-image: url('./symbols/bp_waarde.png');
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='dubbelbestemming_leiding'] {
  background-image: url('./symbols/bp_leiding.png');
  border-width: 1px;
  border-color: #000001;
  border-style: solid;
}
.symboolcode[data-symboolcode='functieaanduiding'] {
  background-color: #ffffff;
  border-width: 2px;
  border-style: dashed;
}
.symboolcode[data-symboolcode='bouwaanduiding'] {
  background-color: #ffffff;
  border-width: 2px;
  border-style: dashed;
}
.symboolcode[data-symboolcode='bouwvlak'] {
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
}
.symboolcode[data-symboolcode='lettertekenaanduiding'] {
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
}
.symboolcode[data-symboolcode='lettertekenaanduiding_punt'] {
  background-image: url('../images/lettertekenaanduiding_punt.png');
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: center;
}
.symboolcode[data-symboolcode='lettertekenaanduiding_lijn'] {
  background-image: linear-gradient(to right, black, black);
  background-position: center;
  background-size: 10px 2px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='maatvoering'] {
  background-color: #ffffff;
  border-width: 2px;
  border-style: dashed;
}
.symboolcode[data-symboolcode='figuur_vlak'] {
  background-color: #ff0000;
  border-width: 1px;
  border-color: #cccccc;
  border-style: solid;
}
.symboolcode[data-symboolcode='figuur_punt'] {
  background-image: url('../images/figuur_punt.png');
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: center;
}
.symboolcode[data-symboolcode='figuur_as_van_de_weg'] {
  background-image: linear-gradient(to right, rgba(63, 63, 63, 0) 80%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 5px 2px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='figuur_hartlijn_leiding'] {
  background-image: linear-gradient(to right, black, black);
  background-position: center;
  background-size: 10px 2px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='figuur_relatie'] {
  background-image: linear-gradient(to right, black, black);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='figuur_dwarsprofiel'] {
  background-image: linear-gradient(to right, red, red);
  background-position: center;
  background-size: 10px 2px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='figuur_gevellijn'] {
  background-image: linear-gradient(to right, red 50%, rgba(255, 255, 255, 0) 0%);
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='figuur_overig'] {
  background-image: linear-gradient(to right, rgb(204, 204, 204), rgb(204, 204, 204));
  background-position: center;
  background-size: 10px 3px;
  background-repeat: repeat-x;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_punt'] {
  background-image: url('../images/gebiedsaand_punt.png');
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_geluidzone'] {
  background-image: url('./symbols/bp_geluidzone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_wetgevingzone'] {
  background-image: url('./symbols/bp_wetgevingzone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_vrijwaringszone'] {
  background-image: url('./symbols/bp_vrijwaringszone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_veiligheidszone'] {
  background-image: url('./symbols/bp_veiligheidszone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_milieuzone'] {
  background-image: url('./symbols/bp_milieuzone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_wro-zone'] {
  background-image: url('./symbols/bp_wro-zone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_reconstructiewetzone'] {
  background-image: url('./symbols/bp_reconstructiewetzone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_luchtvaartverkeerzone'] {
  background-image: url('./symbols/bp_luchtvaartverkeerzone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_overige_zone'] {
  background-image: url('./symbols/bp_overige_zone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='gebiedsaanduiding_overig'] {
  background-image: url('./symbols/bp_overige_zone.png');
  background-repeat: no-repeat;
  background-size: 1.875rem;
  background-position: center;
}
.symboolcode[data-symboolcode='besluitvlak_x'] {
  background-color: #ffffff;
  border-color: #0000ff;
  border-width: 2px;
  border-style: solid;
}
.symboolcode[data-symboolcode='besluitsubvlak_x'] {
  background-color: #ffffff;
  border-color: #0000ff;
  border-width: 2px;
  border-style: solid;
}
