@import 'variables';

:host {
  display: flex;
  flex-direction: row;
  padding: $u2 0 $u1 0;

  .card {
    padding: 0px;
  }

  .document {
    &-versions {
      display: inline;
      margin-left: $u2;
    }
  }
}
