@import 'variables';

$duration: 0.2s;

:host {
  z-index: 99;
  position: absolute;
  .confirmation {
    &__shadow {
      position: fixed;
      top: 0px;
      height: 100vh;
      width: 100vw;
      opacity: 0.1;
      background-color: black;
    }
  }
}
