@import 'variables';

:host {
  .not-found__header {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .not-found__button {
    margin-top: 1rem;
  }

  .header {
    display: flex;
    margin-bottom: $u2;
    &__help {
      margin-left: auto;
    }
  }
}
